// Chemin vers les ressources statiques de l'application
$static-url: '@static.url@';

// Chemin vers les ressources statiques de Inea
$inea-url: '@inea.url@';

@function twbs-font-path($path) {
  @return '#{$inea-url}/fonts/#{$path}';
}

@function twbs-image-path($path) {
  @return '#{$inea-url}/img/#{$path}';
}

$bootstrap-sass-asset-helper: true;
