.eXtremeTable .filter .filter75 {
background-color: #F4F4F4;
}

.eXtremeTable .filter td.filter75 select {
font-family: verdana, arial, helvetica, sans-serif;
font-size: 9px;
border: solid 1px #EEE;
width: 80px;
}


